@{
    ViewData["Title"] = "Upload Image";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data" id="imageForm" asp-action="Result">
    <div class="img-upload">
        <h5>File</h5>
        <div class="form-group">
            <input type="file" name="image" id="image" class="form-control" accept="image/*" required>
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="uploadImage()">Upload</button>
</form>

<form method="post" enctype="multipart/form-data" id="base64Form" asp-action="Result" >
    <div class="img-upload">
        <h5>Base64</h5>
        <div class="form-group">
            <textarea name="Base64" id="Base64" class="form-control" placeholder="Base64" rows="10" required></textarea>
            <input type="text" name="Filename" id="Filename" class="form-control" placeholder="Filename">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<script>
    function uploadImage() {
        var input = document.getElementById('image');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var base64String = e.target.result;
                var form = document.getElementById('imageForm');

                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'base64';
                hiddenInput.value = base64String;

                var filenameInput = document.createElement('input');
                filenameInput.type = 'hidden';
                filenameInput.name = 'filename';
                filenameInput.value = file.name;

                form.appendChild(hiddenInput);
                form.appendChild(filenameInput);
                form.submit();
            };
            reader.readAsDataURL(file);
        }
    }
</script>